<img {{bind-attr src=heroUrl}} {{bind-attr class="heroImage"}} />
<h2 {{bind-attr class=":hero-title"}}>
  Find Event In Your City </h2>
<h3 {{bind-attr class=":hero-text"}}> 
  Build Your Events On A Map. Check Out New Places. Explore. </h3>

<div {{bind-attr class=":hero-buttons"}} >
  <a href="#" class="button large" id="hero-button1"> Get Started </a>
  <a href="#" class="button large" id="hero-button2"> Learn More </a>
</div>
