<!-- learn more section -->
<div class="row">
<div {{bind-attr class=":large-12 :columns"}} >

	<p {{bind-attr class=":section-title-learn"}}> see all your events in one place </p>
	<p {{bind-attr class=":section-text"}}> Filter Events by Location, Date and Type. Save Your Plan and Explore. </hp>
<center>
  <img {{bind-attr src=learnImageUrl}} {{bind-attr class=":example-image"}} />
</center>

 </div>
</div>



