<p class="section-title"> meet our developers </hp>
<div class="team-photos">

  <div class="row">

    <div {{bind-attr class=":large-12 :show-for-small :columns"}} ></div>

    <div {{bind-attr class=":large-2 :columns"}} >
       <p {{bind-attr class="teampic"}} {{bindAttr id="testimage"}}></p>
    </div>

    {{#each member in teamMembers}}
      <div {{bind-attr class=":large-4 :small-6 :columns"}} >
        <img {{bind-attr class= ":teampic" src="member.img"}} />
        <p {{bind-attr class= ":person-name"}}> {{member.name}} </p>
        <p {{bind-attr class= ":team-title"}} > {{member.title}} </p>
      </div>
    {{/each}}
    <div class="large-2 columns" class"teampic"></div>
  </div>
</div>


