<div class="container">
  <form {{action "createUser" model on="submit"}}>
    <br><br><br>
    <h2>Create User</h2>

    <h4>First Name<h4>
    {{input type="text" value=first id="First Name" class="form-control"}}
    <h4>Last Name<h4>
    {{input type="text" value=last id="Last Name" class="form-control"}}
    <h4>Email<h4>
    {{input type="text" value=email id="Email" class="form-control"}}
    <h4>Password<h4>
    {{input type="password" value=password id="Password" class="form-control"}}

    <button class="btn btn-primary btn-block" type="submit">Submit</button>

  </form>
</div>