<!--create your plan title section-->
{{map-title}}

<!-- Display Map -->
<div class="row" id="map-container">
  <!-- Display Top Horizantal Map Filters -->
  <!--                             | compAct = "CtrlAct" compAttr = CtrlAttr | -->
  {{map-filter-bar searchTitle="Search" search="search" selectDate="updateDates" isPopularToggled=isPopular dateRange=dates}}
  <div class="large-1 columns">
    <!-- Display Left Vertical Map Filters -->
    {{map-filter-left selectCategory="updateCategories"}}
  </div>
  <div class="large-10 columns">
    <!-- Display Map -->
    {{map-container events=filteredEvents}}
  </div>
  <div class="large-1 columns">
    <!-- Display Right Vertical Map Filters -->
    {{map-filter-right}}
  </div>
    {{joyride-map}}
</div>
