<!--create your plan title section-->
{{map-title}}

<!-- Display Map -->
<div class="row" id="map-container">
  <!-- Display Top Horizantal Map Filters -->
  {{map-filter-bar}}
  <div class="large-1 columns">
    <!-- Display Left Vertical Map Filters -->
    {{map-filter-left}}
  </div>
  <div class="large-10 columns">
    <!-- Display Map -->
    {{map-container}}
  </div>
  <div class="large-1 columns">
    <!-- Display Right Vertical Map Filters -->
    {{map-filter-right}}
  </div>

</div>
